.container_header {
    height: calc(100vh / 5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .container_footer {
    height: calc((100vh / 5) * 4);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_navbar{
    color: white;
    border-radius: 0.75rem;
    height: 70px;
    background: #191724;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
}
.container_render{
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
}